.chat--window {
  width: 355px;
  min-height: 585px;
  border-radius: 7px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(168,187,230,0.22);
  -moz-box-shadow: 0px 4px 35px 0px rgba(168,187,230,0.22);
  box-shadow: 0px 4px 35px 0px rgba(168,187,230,0.22);
  .chat-window--header {
    padding: 35px 0;
    text-align: center;
    border-bottom: 1px solid #F4F4F4;
    .chat-window-header--username {

    }
  }
}

.chat--window-active {
  -webkit-box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.52);
  -moz-box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.52);
  box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.52);
}

.chat--window-inactive {
  -webkit-box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.12);
  -moz-box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.12);
  box-shadow: 0px 4px 35px 0px rgba(168, 187, 230, 0.12);
}