.chat-window--footer {
  padding: 20px;
  background-color: #ffffff;
  text-align: left;
  border-top: 1px solid #F4F4F4;
  border-radius: 0 0 7px 7px;
  .chat-input--placeholder {
    color: #C9C9C9;
  }
}